md-toolbar{
  md-input-container{
    label{
      color:white !important;
      top:8px;
    }
    input{
      color:white !important;
    }
    // md-input-container.md-input-has-value label{color:white !important;}
  }
}
