
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "../bower_components/angular-material/angular-material.min.css";
@import "variables.scss";
@import "fixes.scss";

body{
  background:$bgcolor-gray
}

.weather-item{
  width:150px;
  display:inline-block;
}

#imageHeader{
  height:100px;
  background-position: center;
  background-size:cover;
  background-color: black;
}
