<div class="container">
	<h1>{{title}}</h1>
	<div class="alert alert-danger" role="alert" *ngIf="eliminated && !winner">
		Sorry, <strong>{{eliminated}}</strong> you have been eliminated!
	</div>
	<div class="alert alert-success" role="alert" *ngIf="winner && !eliminated">
		Yay, <strong>{{winner}}</strong> you are the winner!
	</div>
	<!--<progress *ngIf="eliminated" class="progress progress-info progress-striped progress-animated" [value]="progress" max="100"></progress>-->
	<members-list [members_left]="members"></members-list>
</div>
