
<main id="weather" ng-controller="viewWeather as weather" class="container">
  <md-card>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h1>{{weather.city}} Weather</h1>
      </div>
    </md-toolbar>
    <md-card-content layout-gt-md="row" layout-align="center">
      <section ng-repeat="day in weather.list">
        <md-subheader>{{day.day}}</md-subheader>
        <md-list>
          <md-list-item ng-repeat="weatherItem in day"><img ng-src="http://openweathermap.org/img/w/{{weatherItem.weather[0].icon}}.png" class="md-avatar"/> {{weatherItem.hour}} <br> {{weatherItem.main.temp}}&deg; F</md-list-item>
        </md-list>
      </section>
    </md-card-content>
  </md-card>
</main>