main(ng-controller="viewWeather as weather").container
  md-card
    md-toolbar
      div.md-toolbar-tools
        h1 {{weather.city}} Weather
    md-card-content
      md-list 
        md-list-item(ng-repeat="weatherItem in weather.list") {{weatherItem.dt_txt}} <br> {{weatherItem.main.temp | KtoF}}&deg; F
