main(ng-controller="viewWeather as weather").container
  md-card
    md-toolbar
      div.md-toolbar-tools
        h1 {{weather.city}} Weather
    md-card-content
      ul 
        li(ng-repeat="weatherItem in weather.list") Date/Time: {{weatherItem.dt_txt}} <br> {{weatherItem.main.temp | KtoF}}&deg; F
