main#weather(ng-controller="viewWeather as weather").container
  md-card
    div#imageHeader(ng-style="weather.setBackground")
    md-toolbar
      div.md-toolbar-tools
      
        h1 {{weather.city}} Weather ({{weather.country}})
        span(flex)
        md-button(ng-click="weather.toggleSearch()").md-icon-button
          md-icon search
    
    md-card-content
      section#search(ng-show="weather.search")
        md-input-container(md-no-float)
          md-icon place
          input(ng-model="weather.searchInput" placeholder="Search for your city" ng-enter="weather.searchCity(weather.searchInput)"  ng-focus="weather.searchFocus")
    
      md-progress-circular(md-mode="indeterminate" ng-show="weather.loading")
      
      div(layout-gt-lg="row" layout-align="center")
        section(ng-repeat="day in weather.list")
        
          md-subheader {{day.day}}
          md-list
            md-list-item(ng-repeat="weatherItem in day").weather-item
              div(layout="row")
                img.md-avatar(ng-src="http://openweathermap.org/img/w/{{weatherItem.weather[0].icon}}.png")
                div.md-list-item-text 
                p {{weatherItem.hour}} <br> {{weatherItem.main.temp}}&deg; F
